<%- include(rootPath + '/views/layout/header.ejs') %>

<div class="container mt-5" id="adminForm" style="width: 800px;">
  <form id="contact" action="/add" method="post" class="border p-4 shadow-sm rounded">
    <h3 class="text-center mb-5">Add Coffee</h3>
    <div class="form-group mb-3">
      <input placeholder="Full Name" type="text" name="fullname" class="form-control" required />
    </div>
    <div class="form-group mb-3">
      <input type="text" placeholder="Price of Small Coffee" tabindex="5" required name="priceSmall" class="form-control" />
    </div>
    <div class="form-group mb-3">
      <input type="text" placeholder="Price of Big Coffee" tabindex="5" required name="priceBig" class="form-control" />
    </div>
    <div class="form-group mb-3">
      <input placeholder="Img" type="text" tabindex="3" required name="img" class="form-control" />
    </div>
    <div class="form-group text-center mb-3">
      <button name="submit" type="submit" id="contact-submit" class="btn btn-secondary w-100 btn-block mt-3">Submit</button>
    </div>
  </form>
</div>

<%- include(rootPath + '/views/layout/footer.ejs') %>

